.content {
    max-width: none !important;
}

p {
    font-size: 18px;
}

#tags {
    font-size: 16px;
}

.card-inner {
    background-color: #8cc5ab;
}

.card {
    -webkit-box-shadow: 2px 9px 8px 0px rgba(0,0,0,0.38);
    -moz-box-shadow: 2px 9px 8px 0px rgba(0,0,0,0.38);
    box-shadow: 2px 9px 8px 0px rgba(0,0,0,0.38);
}

.btn {
    background-color: #4cbb88;
    color: white;
}